$color1: #111e24;
$color2: #e65e0d;
$light-blue: #829199;
$medium-blue: #1f2a30;
$blue: #2b363d;
$side-menu-text: #4e5d66;
$side-submenu-bg: #1c262b;
$scroll: #4e5d66;
$headeroverlaycolor: #243138;
$tabstextcolor: #98a9b2;
$inputtextcolor: #435159;
$inputbordercolor: #36454c;
$inputfocuscolor: #b4bdc2;
$inputfocustextcolor: #32434c;
$buttonsecondary: #4e5d66;
$buttondanger: #ff6666;
$buttonsuccess: #66cc66;
$buttoninfo: #47bbed;
$buttonlight: #dfe3e5;
$inputlightbordercolor: #ebf0f2;
$checkboxbgcolor: #1f2a30;
$checkboxbordercolor: #36454c;
$checkboxactivebordercolor: #829199;
$advfilterbgcolor: #dfe3e5;
$checkboxslidebgcolor: #f5f8fa;
$checkboxslidedotcolor: #98a9b2;
$checkboxslidebgactivecolor: #4e5d66;
$tagsitembg: #98a9b2;
$tagsitembgactive: #e65e0d;
$tagsitembg2: #36454c;
$footermenubg: #1f2a30;
$footermenutext: #98a9b2;
$footermenuitemactive: #e65e0d;
$footerbg: #28353d;
$copyrightcolor: #607480;
$copyrightboldcolor: #98a9b2;
$footersocialcolor: #909da4;
$footertext: #4c5d66;
$footermenuitem: #2d3c45;
$footernewsimg: #d7dce0;
$footernewsimghover: #e65e0d;