@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans600semibold.woff2") format("woff2"), url("../webfonts/Sinkinsans600semibold.woff") format("woff"), url("../webfonts/Sinkinsans600semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans500medium.woff2") format("woff2"), url("../webfonts/Sinkinsans500medium.woff") format("woff"), url("../webfonts/Sinkinsans500medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans500mediumitalic.woff2") format("woff2"), url("../webfonts/Sinkinsans500mediumitalic.woff") format("woff"), url("../webfonts/Sinkinsans500mediumitalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans400italic.woff2") format("woff2"), url("../webfonts/Sinkinsans400italic.woff") format("woff"), url("../webfonts/Sinkinsans400italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans100thin.woff2") format("woff2"), url("../webfonts/Sinkinsans100thin.woff") format("woff"), url("../webfonts/Sinkinsans100thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans200xlightitalic.woff2") format("woff2"), url("../webfonts/Sinkinsans200xlightitalic.woff") format("woff"), url("../webfonts/Sinkinsans200xlightitalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans200xlight.woff2") format("woff2"), url("../webfonts/Sinkinsans200xlight.woff") format("woff"), url("../webfonts/Sinkinsans200xlight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans300light.woff2") format("woff2"), url("../webfonts/Sinkinsans300light.woff") format("woff"), url("../webfonts/Sinkinsans300light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans400regular.woff2") format("woff2"), url("../webfonts/Sinkinsans400regular.woff") format("woff"), url("../webfonts/Sinkinsans400regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans900xblack.woff2") format("woff2"), url("../webfonts/Sinkinsans900xblack.woff") format("woff"), url("../webfonts/Sinkinsans900xblack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans600semibolditalic.woff2") format("woff2"), url("../webfonts/Sinkinsans600semibolditalic.woff") format("woff"), url("../webfonts/Sinkinsans600semibolditalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans700bolditalic.woff2") format("woff2"), url("../webfonts/Sinkinsans700bolditalic.woff") format("woff"), url("../webfonts/Sinkinsans700bolditalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans100thinitalic.woff2") format("woff2"), url("../webfonts/Sinkinsans100thinitalic.woff") format("woff"), url("../webfonts/Sinkinsans100thinitalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans700bold.woff2") format("woff2"), url("../webfonts/Sinkinsans700bold.woff") format("woff"), url("../webfonts/Sinkinsans700bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans900xblackitalic.woff2") format("woff2"), url("../webfonts/Sinkinsans900xblackitalic.woff") format("woff"), url("../webfonts/Sinkinsans900xblackitalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans800black.woff2") format("woff2"), url("../webfonts/Sinkinsans800black.woff") format("woff"), url("../webfonts/Sinkinsans800black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans300lightitalic.woff2") format("woff2"), url("../webfonts/Sinkinsans300lightitalic.woff") format("woff"), url("../webfonts/Sinkinsans300lightitalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../webfonts/Sinkinsans800blackitalic.woff2") format("woff2"), url("../webfonts/Sinkinsans800blackitalic.woff") format("woff"), url("../webfonts/Sinkinsans800blackitalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');