.footer-top{
	background: $footerbg;
	border-top: 4px solid $footermenuitemactive;
}
.footer-bottom{
	background: $footermenubg;
	height: 100px;
}
.footer-menu{
	margin: 0 auto;
	list-style: none;
	padding: 0;
	font-size: 13.5px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.footer-menu li{
	margin: 0 6px;
	display: inline-block;
}
.footer-menu li a{
	display: block;
	line-height: 96px;
	padding: 0 15px;
	border-bottom: 4px solid transparent;
	color: $footermenutext;
	text-decoration: none;
}
.footer-menu li a:hover,
.footer-menu li.active a{
	color: $footermenuitemactive;
	border-bottom-color: $footermenuitemactive;
}
.footer-logo{
	padding: 145px 0 90px;
}
.footer-logo a{
	display: block;
	margin-bottom: 70px;
}
.copyright{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: $copyrightcolor;
}
.copyright span{
	font-weight: 700;
	color: $copyrightboldcolor;
}
.footer-social{
	text-align: right;
	padding: 35px 0;
}
.footer-social ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-social li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}
.footer-social li:last-child{
	margin-right: 0;
}
.footer-social li a{
	font-size: 20px;
	color: $footersocialcolor;
	display: block;
}
.footer-social li a:hover{
	color: $color2;
}
.footer-top__wrapper{
	padding: 90px 0 100px;
}
.footer-top__title{
	font-size: 18px;
	font-weight: 700;
	color: $footermenutext;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.footer-top__about-text{
	font-family: "Lato";
	font-size: 15px;
	color: $footertext;
}
.footer-top__about-text p{
	line-height: 25px;
}
.footer-top__menu{
	font-size: 14px;
	font-family: "Lato";
	text-transform: capitalize;
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-top__menu li{
	padding: 10px 0;
	line-height: 20px;
	border-bottom: 1px solid $footermenuitem;
}
.footer-top__menu li:first-child{
	padding-top: 0;
}
.footer-top__menu li:last-child{
	padding-bottom: 0;
	border-bottom: none;
}
.footer-top__menu li a:before{
	content: " ";
	display: block;
	width: 8px;
	height: 8px;
	background: $footertext;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -4px;
}
.footer-top__menu li a{
	padding-left: 30px;
	color: $footertext;
	display: block;
	position: relative;
}
.footer-top__menu li a:hover{
	color: $color2;
	text-decoration: none;
}
.footer-top__menu li a:hover:before{
	background: $color2;
}
.footer-top__news-item{
	margin-bottom: 30px;
}
.footer-top__news-img{
	float: left;
	width: 75px;
	height: 75px;
	background: $footernewsimg;
	text-align: center;
	line-height: 80px;
}
.footer-top__news-item:hover .footer-top__news-img{
	background: $footernewsimghover;
}
.footer-top__news-body{
	margin-left: 100px;
	font-family: "Lato";
	color: $footertext;
}
.footer-top__small-title{
	font-size: 15px;
	font-weight: bold;
	color: $footermenutext;
	font-family: "Lato";
}
.footer-top__news-date{
	font-size: 14px;
	font-style: italic;
	line-height: 15px;
	line-height: 30px;
}
.footer-top__news-text{
	font-size: 15px;
}
.footer-top__news-item:after{
	content: " ";
	clear: both;
	display: block;
}
.footer-top__news-img .fas{
	opacity: 0;
	color: #fff;
	font-size: 30px;
}
.footer-top__news-item:hover .footer-top__news-img .fas{
	opacity: 1;
}