/* Send us a message */
.form-input_main{	
	background-color: #fff;
    border: 3px solid #ebf0f2;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    padding: 8px 20px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #999;
    width: 100%;
}
.form-input_main-text{
	height: auto;
}
/* End of Send us a message */